@font-face {
    font-family: 'minipax';
    src: url("Minipax_Medium.ttf");
}

@media screen {
    
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
    font-family: "minipax";
    font-size: 1.2em;
}


tr:hover td:nth-of-type(4){
    background-color: #a4b2ff;
}

 img:hover {
  filter: none;
 }

 td {
    padding: 20px;
    border-top: dashed 2px black;
    overflow: hidden;
    vertical-align: top;
  }

  tr {
    border: solid 1px black;
    height: 40px;
  }

  td:nth-of-type(1)  {
    width: 250px;
    font-size: 1.6em;
  }

  td:nth-of-type(2)  {
    width: 150px;
  }

  td:nth-of-type(4) {
    width: 400px;
  }

  td:nth-of-type(6),
  td:nth-of-type(7){
    width: 400px!important;
  }


img {
    width: 80%;
    filter: grayscale(100);
  }


  div {
    width: max-content;
  }
}

