@font-face {
  font-family: 'body';
  src: url("lmmonoprop10-regular.otf");
}

@font-face {
  font-family: 'Hershey-Noailles-Futura';
  src: url("Hershey_Noailles_Futura_Noailles_Futura_Duplex_Regular.otf");
}

@font-face {
  font-family: 'titre';
  src: url("Hershey-Noailles-Futura-Duplex-Light.otf");
}



body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background-color:rgb(255, 255, 255);
  font-size: 16px;
}

nav {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  font-family: 'nav';
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul {
  width: fit-content;
  display: flex;
}


nav ul li {
  display: inline;
  border: dashed 1px black;
  padding: 4px;
  margin-right: 2px;
  font-size: 1.2em;
  font-family: 'Hershey-Noailles-Futura';
}

nav ul li:nth-of-type(3) {
  background-color: #a4b2ff ;
}

nav ul li:nth-of-type(2) {
  background-color: #ffafa4 ;
}

nav ul li:nth-of-type(4) {
  background-color: #a4ffd0 ;
}

nav ul li:nth-of-type(5) {
  background-color: #fffd8e ;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1em;
  padding-left: 40px;
}

h2,
h1,
h3,
h4,
figcaption {
  font-weight: normal;
  font-family: 'titre';
  margin: 0;
}

#post h4 {
  margin-bottom: 30px;
}

#post blockquote { 
font-family: 'body';
font-size: 1.3em;
}

figcaption {
  font-size: 1.6em;
  padding-bottom: 40px;
  font-family: 'Hershey-Noailles-Futura';

}

h3 {
  font-size: 1.2em;
  text-align: center;
}

h4 {
  font-size: 1.4em;
  padding-top: 20px;
}

#one {
  grid-column: 1 / 3;
  grid-row: 2/18;
  font-family: 'Hershey-Noailles-Futura';
  overflow: hidden;
  color: rgb(0, 0, 0);
}


#one ul li a:hover,
#two ul li a:hover {
  text-decoration: underline dotted 1px #a4b2ff;
}

#one ul {
  list-style: none;
  display: block;

}

#one ul li {
padding-bottom: 20px;
width: 80%;
}




#one ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5em;
}

#one ul li a:before {
  content:'} ';
}

strong {
  /* background-color: #4d53ff; */
  font-weight: normal;
  border-bottom: solid 3px #a4b2ff;
  /* border-radius: 30px 30px 30px 30px; */
  padding: 0px 5px 0px 5px;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#post {
  grid-column: 3 / 7;
  grid-row: 1 /17;
  padding: 2% 10% 2% 10%;
  overflow: auto;
}

#post > p {
  font-family:'body';
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  line-height: 1.5em;
}


#post > p a {
  font-family: 'body';
  padding-bottom: 2px;
  text-decoration: dashed underline 2px #a4b2ff ;
  text-underline-offset: 4px;
}

#post > blockquote p a {
  background-color: #a4b2ff;
  border: dashed 1px black;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1px 4px 1px 4px;
}

#post p a {
  color: #000000;
}

#post blockquote p {
  margin-left: 20px;
  width: 90%;
  padding: 10px;
}


.footnote p,
a.footnote-ref {
  font-family: 'Hershey-Noailles-Futura';
  font-size: 22px;
  color: #000000;
}

a.footnote-ref {
text-decoration: dashed underline 1px #000000;
color: #000000;

}

#post ul li {
  font-weight: normal;
  font-family: 'Hershey-Noailles-Futura';
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 1.1em;
  text-decoration: none;
  display: inline-flex;
  background: #a4b2ff;
  border: dashed 1px black;
  padding: 4px;
margin: 5px;
}

#post blockquote ol li {
  font-weight: normal;
  font-family: 'body';
  color: rgb(0, 0, 0);
  padding: 4px;
  margin: 5px;
}


#post ol li {
  font-family: 'body';
  color: rgb(0, 0, 0);
  font-size: 1.4em;
}


#post ul li a {
  font-weight: normal;
  font-family: 'Hershey-Noailles-Futura';
  list-style: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
  line-height: 1.1em;
  text-decoration: none;
  display: inline-flex;
  background: #a4b2ff;

  padding: 0;
}



#post h2 {
  margin-top: 80px;
}

#post ul {
  padding: 0;
  margin: 0;
}

#post sup a {
  color: black;
  font-size: 1em;
  text-decoration: none;
  padding-left: 4px;
}



@media print {

  @page {
    size: A4;
    margin: 2cm;
  }

  section#one,
  nav{
    display: none;
  }

  section#post {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;

  }

  body {
    overflow: auto;
    height: 100%;
    display: block;
  }

}